@using FifthExamSimulationFiruz.ViewModels.EventViewModels
@model List<EventGetVM>
<div class="container">

	<div class="row">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Location Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var ev in Model)
                {
                    <tr>
                        <th scope="row">@ev.Id</th>
                        <td>@ev.Title</td>
                        <td>@ev.Description</td>
                        <td>@ev.LocationName</td>
                        <td>@ev.Price</td>
                        <td>@ev.Date</td>
                        <td>

                            <a asp-action="Update" asp-route-id="@ev.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@ev.Id" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>
                }
                
                
            </tbody>
        </table>

	</div>

</div>